@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.content {
  background-color: #fff;
}


.logo_main {
  color: #6070ff;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;

 
}

.logo {
  height: 25px;
  padding-top: 2px;
  cursor: pointer;
}

.logo_box {
  width: 100px;
  height: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.header_h {
  position: fixed;
  width: 100vw;
  height: 48px;
  border-bottom-left-radius: 8px;
  display: flex;

  /* z-index: 100; */
  border-bottom-right-radius: 8px;
    
}




.headlineBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  border-bottom-left-radius: 100px;
  background-size: cover;
  background-image: url("assets/bg.png");
  background-color: #fff;
}

.headline {
  width: 327px;
  flex: none;
  order: 0;
  height: 180px;
  margin: 5px;
}

.headlineTitle {
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  padding: 8px;
}
.CLC {
  margin: 20px 24px 2px 24px;
  width: 130px;
  height: 24px;
}

.Menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  width: 100px;
  height: 100%;


}

.Menu1 {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 100%;
  gap: 2.5px;
  padding-top: 10px;
  align-items: center;
}

.line {
  height: 3.5px;
  list-style: none;
  width: 25px;
}



.descriptionBox{
  line-height: 24px;
  text-align: start;
  margin: 5px 15px;
}

.description {
  line-height: 24px;
  color: #344563;
  font-size: 16px;
  font-weight: 400;
}


.Item {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #7f8cff;
}



.networkItems {
  column-gap: 19px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: 1px;
}
.networkBox {
  height: 40px;
  margin: 5px 24px;
  width: 175px;
}


.PIC {
  display: inline-block;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.icon{
  width: 20px;
  height: 25px;
  text-decoration: none;
  list-style: none;
  
  display: inline-block; 
  margin-top: 12px;
  background-size: cover;
  cursor: pointer;
}

.medium {
  background-image: url("/assets/MI.svg");
}

.github {
  background-image: url("assets/GHI.svg");
}

.peace {
  background-image: url("assets/PI.svg");
}
.twitter {
  background-image: url("assets/TI.svg");
}

.linkedlin {
  background-image: url("assets/LI.svg");
}



