@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.content {
  background-color: #fff;
}

/* Header placeholder */
.header-toolbar-container {
  width: 100vw;
  height: 48px;
  display: flex;
  position: fixed;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 100;
}

/* Logo container */
.logo-container {
  width: 100px;
  height: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

/* My logo */
.logo-item {
  height: 25px;
  padding-top: 2px;
  cursor: pointer;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 200ms ease-out;
  display: inline-block;
}

.logo:hover {
  transform: scale(1.1);
}

/* Menu container */
.menu-container {
  width: 100px;
  height: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/* My menu */
.menu-item {
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5px;
  padding-top: 6px;
  cursor: pointer;
}

/* Toolbar menu layout */
.line-1 {
  width: 25px;
  height: 3.5px;
  background-color: #6070ff;
  list-style: none;
}

.line-2 {
  width: 25px;
  height: 3.5px;
  list-style: none;
  background-color: #6070ff;
}

.line-3 {
  width: 25px;
  height: 3.5px;
  list-style: none;
  background-color: #6070ff;
}

.headlineBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  border-bottom-left-radius: 100px;
  background-size: cover;
  background-image: url("assets/bg.png");
  background-color: #fff;
}

.headline {
  width: 327px;
  flex: none;
  order: 0;
  height: 180px;
  margin: 5px;
}

.headlineTitle {
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  padding: 8px;
  animation: heading-animation 2s ease-in-out infinite;

}
@keyframes heading-animation {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
    color: #6070ff;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
    color: #ff6b6b;
  }
}

.CLC {
  margin: 20px 24px 2px 24px;
  width: 130px;
  height: 24px;
}


.descriptionBox {
  line-height: 24px;
  text-align: start;
  margin: 5px 15px;
}

.description {
  line-height: 24px;
  color: #344563;
  font-size: 16px;
  font-weight: 400;
}

.Item {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #7f8cff;
}

.networkItems {
  column-gap: 19px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: 1px;
}

.networkBox {
  height: 40px;
  margin: 5px 24px;
  width: 175px;
}

.PIC {
  display: inline-block;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.icon {
  width: 20px;
  height: 25px;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin-top: 12px;
  background-size: cover;
  cursor: pointer;
}

.medium {
  background-image: url("/assets/MI.svg");
}

.github {
  background-image: url("assets/GHI.svg");
}

.peace {
  background-image: url("assets/PI.svg");
}

.twitter {
  background-image: url("assets/TI.svg");
}

.linkedin {
  background-image: url("assets/LI.svg");
}

/* work section */

.work-projects {
  height: 580px;
  margin: 100px 24px;
  border-radius: 16px;
  display: grid;
  border: 1px solid black;
  gap: 1px;
  grid-template-areas: 'header header header' 'description description description' 'footer footer footer';
}

.item {
  width: 100%;
  margin-top: 5px;
}

.project-header {
  grid-area: header;
  padding: 20px 20px 10px;
  height: 100%;
}

.project-img-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #fa9c66;
  border-radius: 8px;
}

.project-img-container-b {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #f6ead4;
  border-radius: 8px;
}

.project-img-container-c {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.header-img {
  height: 90%;
  padding: 15px;
  width: 100%;
}

.header-img-b {
  height: 100%;
  width: 100%;
}

.project-description {
  padding: 10px;
  grid-area: description;
}

.project-title-container {
  flex-direction: column;
  width: 100%;
  gap: 2px;
  display: flex;
}

.description-title {
  width: 100%;
  padding-left: 12px;
  font-size: 25px;
}

.project-subtitle-container {
  width: 100%;
}

.subtitle-items {
  flex-direction: row;
  gap: 30px;
  display: flex;
  padding-left: 16px;
}

.list::marker {
  font-size: 20px;
  opacity: 0.5;
}

.list-less {
  font-size: 13px;
  font-weight: 500;
  list-style: none;
}

.list {
  font-size: 13px;
  opacity: 0.5;
}

.project-article-container {
  margin-top: 10px;
  width: 100%;
  padding-left: 16px;
}

.project-tag-container {
  margin-top: 20px;
  padding-left: 25px;
  width: 100%;
}

.tag-item {
  flex-direction: row;
  gap: 10px;
  list-style: none;
  display: flex;
  color: #6070ff;
  
}

.tag-btn {
  border-radius: 8px;
  padding: 4px 12px;
  background-color: #d9d9f5;
  opacity: 0.5;
  text-decoration: none;
  color: #6070ff;
}


.tags {
  transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.tags:hover {
  transform: scale(1.2);
}


.project-bottom-container {
  height: 100px;
  display: flex;
  padding-left: 14px;
  justify-content: flex-start;
  align-items: center;
}

.project-bottom {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 100%;
  font-size: 17px;
  background-color: transparent;
  color: #396df2;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  transition: background-color 500ms ease;
}

.project-bottom-b {
  border: 1px solid #6070ff;
  font-size: 17px;
  background-color: transparent;
  color: #396df2;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 500ms ease;
  padding: 10px;
  border-radius: 8px;
}

.project-bottom:hover {
  opacity: 0.7;
  color: #fff;
  background-color: #6070ff;
}

.project-bottom-b:hover {
  opacity: 0.7;
  color: #fff;
  background-color: #6070ff;
}

/* about myself */

.about-project {
  width: 100%;
  margin: 2px;
  background-color: #fff;
  border-top-right-radius: 100px;
  padding: 10px 10px 100px 10px;
}

.about-title-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 114px 24px 0;
  align-items: flex-start;
}

.about-title {
  font-size: 40px;
  color: #172b4d;
}

.about-description-container {
  margin: 10px 15px 0;
}

.about-knowledge-container {
  margin: 10px 16px;
}

.skill-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0 20px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #dfe1e6;
  position: relative;
}

.skill-container#active {
  border: none;
}

.skill-title li {
  list-style: none;
}

.link-skill {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.vector-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16.5px;
  right: 10px;
  background-color: #6171ff;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 50% 50%);
}

.code-language-container {
  border: 1px solid black;
  width: 100%;
  
}

.code-items {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}

.code {
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f9;
  list-style: none;
  border-radius: 10px;
}

.code-template {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.code-img-a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 2px;
  background-image: url("assets/techicon1.PNG");
  background-size: cover;
}

.code-img-b {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 2px;
  background-image: url("assets/techicon2.PNG");
  background-size: cover;
}

.code-img-c {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 2px;
  background-image: url("assets/techicon3.PNG");
  background-size: cover;
}

/* Contact form */

.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-top: -76px;
  background-color: #6070ff;
  background-image: url(src/svg/contact\ form\ shapes-mobile.svg);
  background-size: cover;
  border-top-left-radius: 100px;
}

.contact-title-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 25px;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
}

.contact-description-container {
  text-align: center;
  margin: 0 24px;
}

.contact-description {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.input-client-info {
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #cfd8dc;
  padding: 15px;
}

.client-message {
  font-weight: 400;
  min-width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cfd8dc;
  max-width: 100%;
  min-height: 150px;
  max-height: 180px;
}

.contact-button {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  transition: background-color 500ms ease;
  letter-spacing: 1.5px;
  color: #6070ff;
  font-size: 17px;
  cursor: pointer;
}

.contact-button:hover {
  max-width: 100%;
  background-color: rgb(151, 161, 245);
  color: #fff;
}

.bounce1 {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-49px);
  }
}

.bounce2 {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.bounce3 {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
